<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8" />
    <base href="{{base}}/">

    <script src="./main.mjs" type="module"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="application-name" content="{{title}}">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">

    <title>{{title}}</title>

    <link rel="icon" href="images/icon.ico" type="image/x-icon" />
    <link rel="icon" href="images/icon.svg" type="image/svg+xml" sizes="any" />
    <link rel="apple-touch-icon" href="images/icon.png" />

    <link rel="manifest" href="manifest.webmanifest" />
  </head>

  <body></body>
</html>
